body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/*      LOGO        */

.top-img {
  margin-top: 100px;
  width: 100px;
}

/*      TOP     */

.top {
  margin-top: 50px;
  font-size: 25px;
  font-family: "Libre Franklin", sans-serif;
}

.top h1 {
  font-weight: lighter;
  color: gray;
  margin-bottom: -15px;
}

.top span {
  font-weight: bold;
  color: black;
}

.top p {
  font-weight: lighter;
  margin-bottom: 40px;
}

.top input {
  border-radius: 25px;
  width: 400px;
  outline: none;
  border: 0.5px solid gray;
  height: 50px;
  font-size: 14px;
  padding-left: 25px;
}

.top input::placeholder {
  color: gray;
}

.top button {
  cursor: pointer;
  background-color: hsl(223, 87%, 63%);
  height: 50px;
  outline: none;
  width: 150px;
  border-radius: 25px;
  border: none;
  margin-left: 25px;
  color: white;
  font-size: 12px;
  transition: all 300ms ease-in-out;
}

.top button:hover {
  background-color: hsl(223, 84%, 48%);
  box-shadow: 1px 1px 10px gray;
}

/*      MIDDLE      */
.mid {
  margin-top: 75px;
  /* text-align: center; */
}

.mid img {
  width: 600px;
}

/*      BOTTOM      */

.bottom {
  /* text-align: center; */
  margin-top: 75px;
}

.bottom a {
  margin: 0 15px;
  color: hsl(223, 87%, 63%);
}

.bottom a:hover {
  color: hsl(223, 90%, 41%);
}

.bottom p {
  margin-top: 35px;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

/*      MEDIA BREAKPOINTS       */

@media (max-width: 800px) {
  .top-img {
    width: 80px;
  }
  .mid img {
    width: 450px;
  }

  .top {
    font-size: 20px;
  }

  .top input,
  button {
    height: 40px;
  }

  .top input {
    width: 300px;
  }

  .top button {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .top input {
    display: block;
    margin: 0 auto;
  }
  .top button {
    margin: 20px auto 0;
    width: 325px;
  }
  .mid img {
    width: 400px;
  }
}
