body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/*      LOGO        */

.top-img {
  margin-top: 100px;
  width: 100px;
}

/*      TOP     */

.top {
  /* text-align: center; */
  margin-top: 50px;
  font-size: 25px;
  font-family: "Libre Franklin", sans-serif;
}

.top h1 {
  font-weight: lighter;
  color: gray;
  margin-bottom: -15px;
}

.top span {
  font-weight: bold;
  color: black;
}

.top p {
  font-weight: lighter;
  margin-bottom: 40px;
}

.top input {
  border-radius: 25px;
  width: 400px;
  outline: none;
  border: 0.5px solid gray;
  height: 50px;
  font-size: 12px;
  padding-left: 25px;
}

.top button {
  background-color: hsl(223, 87%, 63%);
  height: 50px;
  outline: none;
  width: 150px;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 10px gray;
  margin-left: 25px;
  color: white;
  font-size: 12px;
}

/*      MIDDLE      */
.mid {
  margin-top: 75px;
  /* text-align: center; */
}

.mid img {
  width: 600px;
}

/*      BOTTOM      */

.bottom {
  /* text-align: center; */
  margin-top: 75px;
}

.bottom a {
  margin: 0 15px;
  color: hsl(223, 87%, 63%);
}

.bottom p {
  margin-top: 35px;
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

/*      FOOTER      */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*      MEDIA BREAKPOINTS       */

@media (max-width: 800px) {
  .top-img {
    width: 150px;
  }

  .mid img {
    width: 1000px;
  }
}

@media (max-width: 500px) {
  .top {
    font-size: 40px;
  }

  .top input {
    display: block;
    margin: 0 auto;
  }

  .top button {
    width: 850px;
    margin: 20px 0 0;
  }

  .mid img {
    width: 800px;
  }
}
